[CREATEDATABASE]
RESPONSEFILE_VERSION=11.2.0
OPERATION_TYPE=createDatabase
templateName=General_Purpose.dbc
GDBNAME=###ORACLE_SID###
SID=###ORACLE_SID###
SYSPASSWORD=###ORACLE_PWD###
SYSTEMPASSWORD=###ORACLE_PWD###
SYSMANPASSWORD=###ORACLE_PWD###
STORAGETYPE=FS
CHARACTERSET=###ORACLE_CHARACTERSET###
NATIONALCHARACTERSET=AL16UTF16
SAMPLESCHEMA=TRUE
AUTOMATICMEMORYMANAGEMENT=FALSE
TOTALMEMORY=1536